/*
  1. Use a more-intuitive box-sizing model.
*/
 *, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    background-color: hsl(30, 38%, 92%);
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  body {
    display: grid;
    place-items: center;
  }

  .product {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: 0 1rem;
    border-radius: 0.75rem;
    overflow: hidden;
    display: grid;
    max-width: 600px;
  }

  @media (min-width:600px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
  }

  .product-desc {
    display: grid;
    gap: 0.5rem;
    padding: 1.5rem 2rem;
  }

  .product-cat {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.725rem;
    color: hsl(228, 12%, 48%);
  }

  .product-title {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.8rem;
    line-height: 1.725rem;
  }

  .product-talk {
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
    font-weight: 500;
  }

  .product-prices {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .price {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
  }

  .original-price {
    color: hsl(228, 12%, 48%);
    font-size: 0.725rem;
    text-decoration: line-through;
  }

  .button {
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 0.725rem;
    font-weight: 700;
    padding: 0.6em;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
  }

  .button:hover {
    background-color: hsl(158, 36%, 27%);
  }
  

